/* COMMON(공통) */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}
/* img를 인라인 요소가 아닌 하나의 블록요소(상자)로 사용(헤더부분의 붕 뜬 공간 때문에) */
img {
  display: block;
}
a {
  text-decoration: none;
}

/* HEADER 부분 */
header {
  background-color: #f6f5f0;
  border: 1px solid #c8c8c8;
}

header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
header .logo {
  height: 75px;
  top: 0px;
  bottom: 0px;
  left: 0;
  margin: auto;
  position: absolute;
}
header .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0%;
  margin: auto;
}

header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block; /* a태그는 인라인 요소로서 display를 주어 블록 요소로 바꿔준다 */
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #333;
}

header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  transition: width 0.4s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5px;
  transition: 0.4s;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}
